
@media screen and (max-width: 768px) {
    .section_form {
        flex-direction: column;
  
        .content_img {
            order: 1;
            margin-bottom: 30px;
            
            img {
                max-width: 200px;
            }
        }
    
        .content_text_form {
            order: 2;

            .content__title {
                font-size: 2em;
                text-align: center;
            }
        }
  
        .form {
            align-items: center;
            justify-content: center;
            
            label.form__label {
                font-size: 1.3em;
                
            }

            button.button__submit, input.form__input {
                display: block;
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .section_form {
        padding: 50px;
        
        .content_text_form {
            max-width: 300px;
            .content__title {
                font-size: 1.8em;
                text-align: center;
            }
        }
        .content_img {
            img {
                max-width: 200px;
            }
        }
    
    }

}
