.section_home {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    padding: 20px;

    .content {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content_text {
        
        h1.content__title {
            font-size: 3vw;
            font-weight: bolder;
        }
    
        p.content__description {
            margin: 20px 0px;
            font-weight: 200;
            font-size: 1.6vw;
        }
    
        .content__buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            gap: 10px;
            a.button {
                padding: 8px;
                font-weight: bolder;
                font-size: 1em;
                border-radius: 12px;
                transition: 0.8s all ease-in-out;
            }
            a.button:first-child {
                color: $white;
                background-color: $color-1;
            }
    
            a.button:last-child {
                color: $black;
                background-color: $white;
            }
    
    
            a.button:hover {
                transform: scale(1.1);
            }
        }
    }
    
    .content_image {

        img {
            width: 100%;
        }
    }

}